#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_br.h"

// Behavior Overrides

&mt {
  retro-tap;
  label = "Mod Tap";
  tapping-term-ms = <120>;
  flavor = "tap-preferred";
  bindings = <&kp>, <&kp>;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

// Behaviors

/ {
  behaviors {

    // Keyboard
    tss: tap_dance_semi_sqt {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&kp SEMI>, <&kp SQT>;
    };
    // -------------------------------------

    // Left thumb 1
    // Win
    t1as: tap_dance_alt_settings {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&sk LALT>, <&tog 3>;
    };

    // Mac
    t1cs: tap_dance_cmd_settigs {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&sk LCMD>, <&tog 3>;
    };
    // -------------------------------------

    // Left thumb 2
    t2scw: tap_dance_shift_capsword {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&sk LSHIFT>, <&caps_word>;
    };
    // -------------------------------------

    // Right thumb 3
    t6ns: tap_dance_num_sym {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&tog 1>, <&tog 2>;
    };
    // -------------------------------------

  };
};

// Combos

/ {
  combos {
    compatible = "zmk,combos";

    combo_esc {
      timeout-ms = <50>;
      key-positions = <3 4>;
      bindings = <&kp ESC>;
    };
 };
};

};

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
&none &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U &kp I &kp O &kp P &none
&none &kp A &kp S &kp D &kp F &kp G   &kp H &kp J &kp K &kp L &tss &none
&none &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &none
      &sk LALT &t2scw &mt LCTRL SPACE     &mt LWIN ENTER &lt 1 BACKSPACE &t6ns
      >;
    };

    number_layer {
      bindings = <
&none &kp N1    &kp N2  &kp N3   &kp N4   &kp N5      &kp N6   &kp N7    &kp N8    &kp N9    &kp N0      &none
&none &kp GRAVE &kp INS &kp LBKT &kp RBKT &kp PSCRN   &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp BR_CCED &none
&none &kp CAPS  &none   &none    &none    &none       &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp BSLH    &none
                  &sk LALT &mt LSHIFT TAB &sk LCTRL   &sk LWIN &kp DEL &tog 1
      >;
    };

    symbol_layer {
      bindings = <
&none &kp F1 &kp F2 &kp F3 &kp F4  &kp F5    &kp BR_SUP1 &kp BR_SUP2 &kp BR_SUP3 &kp BR_DEG  &kp BR_FORD &none
&none &kp F6 &kp F7 &kp F8 &kp F9  &kp F10   &kp RWIN    &kp RALT    &kp RSHIFT  &kp RCTL    &kp BR_CENT &none
&none &none  &none  &none  &kp F11 &kp F12   &kp BR_PND  &kp BR_NOT  &kp BR_SECT &kp BR_MORD &kp BR_CRUZ &none
            &t1as &mt LSHIFT TAB &sk LCTRL   &sk LWIN &lt 2 DEL &tog 2
      >;
    };

    settings_layer {
      bindings = <
&none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &out OUT_USB &out OUT_BLE &none &none &none &none
&none &sys_reset   &none        &none        &none        &none          &none        &none        &none &none &none &none
&none &none        &none        &none        &none        &none          &none        &none        &none &none &none &none
                                               &to 4 &to 0 &bt BT_PRV    &bt BT_NXT &bt BT_CLR &tog 3
      >;

    apple_layer {
      bindings = <
&none &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &none
&none &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &tss &none
&none &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH &none
      &tcl1 &tsc &mt LCTRL SPACE   &mt RCMD ENTER &lt 2 BACKSPACE &tog 3
      >;
    };

    };
  };
};
