/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Behavior Overrides
&lt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&mt {
  retro-tap;
  label = "Mod Tap";
  #binding-cells = <2>;
  tapping-term-ms = <150>;
  flavor = "tap-preferred";
  bindings = <&kp>, <&kp>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp TAB>;
        };

        combo_cpslk {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp CAPS>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <9 10>;
            bindings = <&kp DEL>;
        };

        combo_sqt {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp SQT>;
        };

        combo_grave {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp GRAVE>;
        };
    };
};
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | none |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | none |
// | none |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | none |
// | none |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | none |
//                    | LWR | ESC | SPC |   | ENT | BSP  | RSE |
                        bindings = <
   &none &kp Q &kp W       &kp E        &kp R      &kp T   &kp Y      &kp U      &kp I        &kp O       &kp P    &none
   &none &kp A &mt LCTRL S &mt LSHIFT D &mt LALT F &kp G   &mt RGUI H &mt RALT J &mt RSHIFT K &mt RCTRL L &kp SEMI &none
   &none &kp Z &kp X       &kp C        &kp V      &kp B   &kp N      &kp M      &kp COMMA    &kp DOT     &kp FSLH &none
                              &tog 1 &lt 1 ESC &kp SPACE   &kp RET &lt 2 BSPC &tog 2
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | none |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | none |
// | none | F1  | F2  | F3  | F4  | F5  |   | F8  | F9  | F10 | F11 | F12 | none |
// | none |     |     |     |     | F6  |   | F7  |     |     |     |     | none |
//                    | LWR | ESC | SPC |   | ENT | BSP  | RSE |
                        bindings = <
   &none     &kp N1       &kp N2       &kp N3             &kp N4              &kp N5              &kp N6        &kp N7          &kp N8         &kp N9        &kp N0  &none
   &none     &kp F1       &mt LCTRL F2 &mt LSHIFT F3      &mt LALT F4         &kp F5              &mt RGUI F8   &mt RALT F9     &mt RSHIFT F10 &mt RCTRL F11 &kp F12 &none
   &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3               &kp F6              &kp F7        &trans          &trans         &trans        &trans  &none
                                                                   &trans  &trans  &trans    &trans  &trans   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | none |  `  |  @  |  #  |  $  |  %  |   |  -  |  =  |  [  |  ]  |  \   | none |
// | none |     |     |     |     |     |   |LEFT |DOWN | UP  |RIGHT|  '   | none |
// | none |     |     |     |     |     |   |HOME |PG_DN|PG_UP| END | RGUI | none |
//                    | LWR | ESC | SPC |   | ENT | BSP  | RSE |
                        bindings = <
   &none &kp EXCL    &kp AT       &kp HASH     &kp DLLR     &kp PRCNT      &kp CARET &kp AMPS &kp STAR  &kp LPAR  &kp RPAR &none
   &none &kp MINUS    &mt LCTRL EQUAL    &mt LSHIFT LBKT  &mt LALT RBKT     &kp PSCRN      &kp LEFT  &mt RALT DOWN  &mt RSHIFT UP &mt RCTRL RIGHT &kp SQT  &none
   &none &kp INS &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp HOME  &kp PG_DN &kp PG_UP &kp END   &kp RGUI &none
                                                  &trans &trans  &trans   &trans   &trans  &trans
                        >;
                };
        };
};
